@media (max-width: 991.98px) {
  .dropdown {
    visibility: collapse;
  }
  .navbar-nav {
    margin-bottom: 20px;
    margin-top: 15px;
  }
  .form-control {
    padding: 0.7rem 5rem 0.7rem 1rem;
  }

}

@media (max-width: 911px) {
  .PageNavigation {
    visibility: collapse;
  }
}
